body {
  margin: 0;
  padding: 0;
}
.todo-container {
  width: 320px;
  margin: 0 auto;
  margin-top: 50px;
}
.todo-list {
  list-style: none;
  padding-left: 0;
}
.todo-item {
  margin-bottom: 10px;
}
.todo-item-name {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}
.modify {
  display: flex;
  margin-right: 10px;
  font-size: 20px;
}
.edit {
  margin: 0 15px;
}
.delete {
  padding: 4px 0;
}
.input-edit {
  border: none;
}
.input-edit:focus {
  outline: none;
  border-bottom: 1px solid grey;
}
.search-item-input {
  outline: none;
  border: none;
  border-bottom: 1.5px solid yellow;
  text-align: center;
  margin: 10px;
  padding: 5px;
}
